body {
    width: 1000px;
    height: 100%;
    margin: auto auto;
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    text-decoration: underline;
}

#calcContainer {
    border: 2px solid black;
    background-color: darkgrey;
    margin: 10px auto 10px auto;
    display: inline-block;
    border-radius: 20px;
}

.line {
    padding: 5px 10px 5px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.lastLine {
    padding-bottom: 10px;
}

#displayResult {
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    height: 50px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
}

#operInCurse {
    color: rgb(30, 60, 61);
    text-align: left;
    height: 25px;
}

#result {
    font-size: 28px;
    text-align: left;
    color: rgb(30, 60, 61);
}

.butn,
.butn2 {
    width: 90px;
    height: 90px;
    border-radius: 25% 10%;
    border: 2px solid black;
    font-size: 28px;
}

.longButton {
    width: 190px;
    height: 90px;
    border-radius: 15% 5%;
    border: 2px solid black;
    font-size: 28px;
}

.numberkey {
    background-color: rgb(61, 147, 153);
}

#buttonOperation {
    background-color: rgb(160, 80, 91);
}

#buttonClear {
    background-color: rgb(59, 120, 122);
}

.butn:hover,
.butn2:hover,
.longButton:hover,
.pressedKey
 {
    background-color: rgb(30, 60, 61);
    color: white;
    transition-duration: 0.6s;
}